<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
<div class="container" style="margin: 20px auto;">
<div class="example-action-buttons">
  <button mat-raised-button (click)="accordion.openAll()" color="primary">Expand All</button>
  <button style="margin-left: 8px;" mat-raised-button (click)="accordion.closeAll()" color="primary">Collapse All</button>
</div>
</div>
<div class="container" style="width: 80%;margin: 5px auto;">

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel  expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mobile Prepaid
      </mat-panel-title>
          </mat-expansion-panel-header>
  <div class="content p-24">
                
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        
                    <!-- ACCOUNT INFORMATION -->
                
    <form fxFlex="70%"  class="mat-card mat-elevation-z4 p-24 mr-24"  fxLayout="column" fxLayoutAlign="start"
                          name="form">
                <table>
                      
                        <!-- Position Column -->
                        
                          <tr>
                              <th  > Operaters Name </th>
                              <th > Retailer Comission % </th>
                          </tr>
    
                          <tr>
                              <td>Aircel </td>
                              <td> 2.05 </td>
                          </tr>
                          <tr>
                              <td>Airtel </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>BSNL </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>BSNL J&K </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>BSNL SPECIAL J&K </td>
                              <td>2.05 </td>
                              
                          </tr>
                          
                          <tr>
                              <td>BSNL Special Tariff </td>
                              <td>2.05 </td>
                              
                          </tr>
                          <tr>
                              <td>Idea </td>
                              <td>2.05 </td>
                             
                          </tr>
                          <tr>
                              <td>LOOP </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>MTNL Delhi </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>MTNL Delhi Special </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>MTS </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Jio</td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Docomo CDMA</td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Docomo GSM </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Docomo GSM - Special </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Uninior </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Uninior Special </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Vodafone</td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Vodafone Speciall Tariff </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Vodafone  </td>
                              <td>2.05 </td>
                              
                          </tr>
                      </table>
                    </form>
                    </div>
                  </div>

  </mat-expansion-panel>

 <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        DTH
      </mat-panel-title>
      
    </mat-expansion-panel-header>

     <div class="content p-24">
                
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        
                    <!-- ACCOUNT INFORMATION -->
                
    <form fxFlex="70%"  class="mat-card mat-elevation-z4 p-24 mr-24"  fxLayout="column" fxLayoutAlign="start"
                          name="form">
                        <table>
            
                                <tr> <th > Operaters Names
                                   </th>
                                   <th > Retailer Comission % </th>
                                  </tr>
                                 <tr>
                                    <td>Airtel Digital TV</td>
                                    <td>2.05 </td>
                                 </tr>
                                 <tr>
                                    <td>Reliance Digital TV </td>
                                    <td>2.05 </td>
                                 </tr>
                                  <tr>
                                      <td>Sun Direct </td>
                                      <td>2.05 </td>
                                  </tr>
                                 <tr>
                                    <td>Tata Sky </td>
                                    <td>2.05 </td>
                                 </tr>
                                 <tr>
                                    <td>Videocon d2h</td>
                                    <td>2.05 </td>
                                 </tr>
                              </table>
                            </form>
                          </div>
                          </div>  
  </mat-expansion-panel>

   <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datacard
      </mat-panel-title>
      </mat-expansion-panel-header>
       <div class="content p-24">
                
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        
                    <!-- ACCOUNT INFORMATION -->
                
    <form fxFlex="70%"  class="mat-card mat-elevation-z4 p-24 mr-24"  fxLayout="column" fxLayoutAlign="start"
                          name="form">
                <table>
            
                       
                       <tr>
                          <th > Operaters Names </th>
                          <th > Retailer Comission % </th>
                       </tr>
                          <tr>
                              <td> Reliance NetConnect 3G </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Reliance NetConnect+ </td>
                              <td>2.05 </td>
                          </tr>
                          
                          <tr>
                            <td>MTS MBlaze </td>
                            <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>MTS MBrowse </td>
                              <td>2.05 </td>
                            </tr>
                            <tr>
                                <td>Tata Photon+</td>
                                <td>2.05 </td>
                              </tr>
                              <tr>
                                  <td>Tata Photon Whiz </td>
                                  <td>2.05 </td>
                                </tr>
                                <tr>
                                    <td>Vodafone 3G </td>
                                    <td>2.05 </td>
                                  </tr>
                                  <tr>
                                      <td>Aircel Pocket Internet</td>
                                      <td>2.05 </td>
                                    </tr>
                                    <tr>
                                        <td>BSNL </td>
                                        <td>2.05 </td>
                                      </tr>
                                      <tr>
                                          <td>MTNL Delhi</td>
                                          <td>2.05 </td>
                                        </tr>
                                        <tr>
                                            <td>MTNL Mumbai</td>
                                            <td>2.05 </td>
                                          </tr>
                      </table>
                    </form>
                  </div>
                  </div>  
    

  
  </mat-expansion-panel>

     <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mobile Postpaid
      </mat-panel-title>
      
    </mat-expansion-panel-header>

      <div class="content p-24">
                
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        
                    <!-- ACCOUNT INFORMATION -->
                
    <form fxFlex="70%"  class="mat-card mat-elevation-z4 p-24 mr-24"  fxLayout="column" fxLayoutAlign="start"
                          name="form">
                <table>
            
                       
                       <tr>
                          <th > Operator Names </th>
                          <th > Retailer Comission % </th>
                       </tr>
                       <tr>
                          <td> Aircel</td>
                          <td>2.05 </td>  
                       </tr> 
                         <tr>
                            <td> Airtel</td>
                            <td>2.05 </td>  
                         </tr> 
                           <tr>
                              <td> BSNL</td>
                              <td>2.05 </td>
                           </tr> 
                           <tr>
                              <td>Idea </td>
                              <td><input style="width:15%;border: 1px solid #000" matInput #postalCode value="2.50"> </td>
                           </tr>         
                         <tr>
                            <td>MTS </td>
                            <td>2.05 </td>
                         </tr>
                          <tr>
                              <td>RELIANCE </td>
                              <td>2.05 </td>
                          </tr>
                         <tr>
                            <td>JIO</td>
                            <td>2.05 </td>
                         </tr>
                          <tr>
                              <td>Docomo CDMA </td>
                              <td>2.05 </td>
                          </tr>
                          <tr>
                            <td>TIKONA</td>
                            <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Vodafone</td>
                              <td>2.05 </td>
                          </tr>
                          
                      </table>
                    </form>
                  </div>
                  </div>
  
  </mat-expansion-panel>


     <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Landline
      </mat-panel-title>
      
    </mat-expansion-panel-header>
<div class="content p-24">
                
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        
                    <!-- ACCOUNT INFORMATION -->
                
    <form fxFlex="70%"  class="mat-card mat-elevation-z4 p-24 mr-24"  fxLayout="column" fxLayoutAlign="start"
                          name="form">
                <table>
            
                         <tr>
                            <th > Operater Name </th>
                            <th > Retailer Comission % </th>
                         </tr> 
                         <tr>
                            <td>Airtel (Landline and Broadband)</td>
                            <td><input style="width:15%;border: 1px solid #000" matInput #postalCode value="2.50"> </td>
                          </tr>
                          <tr>
                              <td>Bsnl Landline </td>
                              <td>2.05 </td>
                            </tr>
                            <tr>
                                <td>Reliance Landline </td>
                                <td>0.01</td>
                              </tr>
                              <tr>
                                  <td>Tata Docomo Landline </td>
                                  <td>0.01</td>
                              </tr>
                      </table>   
                    </form>
                  </div>
                  </div>
  
  </mat-expansion-panel>
     <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Broadband
      </mat-panel-title>
  </mat-expansion-panel-header>

      <div class="content p-24">
                
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        
                    <!-- ACCOUNT INFORMATION -->
                
    <form fxFlex="70%"  class="mat-card mat-elevation-z4 p-24 mr-24"  fxLayout="column" fxLayoutAlign="start"
                          name="form">
                <table>
            
                       
                       <tr>
                          <th > Operater Name </th>
                          <th > Retailer Comission % </th>
                       </tr>
                       <tr>
                          <td>Airtel (Landline and Broadband)</td>
                          <td><input style="width:15%;border: 1px solid #000" matInput #postalCode value="2.50"> </td>
                        </tr>
                        <tr>
                            <td>Bsnl Landline </td>
                            <td>2.05 </td>
                          </tr>
                          <tr>
                              <td>Reliance Landline </td>
                              <td>0.01</td>
                            </tr>
                            <tr>
                                <td>Tata Docomo Landline </td>
                                <td>0.01</td>
                              </tr>
                         
                      </table>  
                    </form>
                  </div>
                  </div> 
  </mat-expansion-panel>
     <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Electricity Bill
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <div class="content p-24">
                
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        
                    <!-- ACCOUNT INFORMATION -->
                
    <form fxFlex="70%"  class="mat-card mat-elevation-z4 p-24 mr-24"  fxLayout="column" fxLayoutAlign="start"
                          name="form">
                <table>
            
                       
                       <tr>
                          <th > Operater Name </th>
                          <th > Retailer Comission % </th>
                       </tr>
                       <tr>
                          <td>APDCL - ASSAM</td>
                          <td>2.05 RS </td>
                       </tr>
                       <tr>
    
                          <td>BESCOM - BENGALURU </td>
                          <td>2.05 RS </td>
                       </tr>
                       <tr>
    
                          <td>BEST Undertaking - MUMBAI </td>
                          <td>2.05 RS </td>
                        </tr>
                        <tr>
    
                            <td>BSES Rajdhani - DELHI</td>
                            <td>2.05 RS </td>
                          </tr>
                          <tr>
                              <td>BSES Yamuna - DELHI</td>
                              <td>2.05 RS </td>
                            </tr>
                            <tr>
                                <td>CSPDCL - CHHATTISGARH </td>
                                <td>2.05 RS </td>
                              </tr>
                              <tr>
    
                                  <td>CESC - WEST BENGAL </td>
                                  <td>2.05 RS </td>
                                </tr>
                                <tr>
                                    <td>Jodhpur Vidyut Vitran Nigam - RAJASTHAN</td>
                                    <td>2.05 RS </td>
                                  </tr>
                                  <tr>
                                      <td>India Power</td>
                                      <td>2.05 RS </td>
                        
                                    </tr>
                                    <tr>
                                        <td>Jaipur Vidyut Vitran Nigam - RAJASTHAN </td>
                                        <td>2.05 RS </td>
                                      </tr>
                       <tr>
                          <td>Jamshedpur Utilities & Services (JUSCO) </td>
                          <td>2.05 RS </td>
                       </tr>
                       <tr>
                          <td>MSEDC - MAHARASHTRA </td>
                          <td>2.05 RS </td>
                        </tr>
                        <tr>
                            <td>Madhya Kshetra Vitaran - MADHYA PRADESH</td>
                            <td>2.05 RS </td>
                          </tr>
                          <tr>
                              <td>Paschim Kshetra Vitaran - MADHYA PRADESH</td>
                              <td>2.05 RS </td>
                            </tr>
                            <tr>
                                <td>Tata Power - DELHI </td>
                                <td>2.05 RS </td>
                              </tr>
                              <tr>
                                  <td>Reliance Energy</td>
                                  <td>2.05 RS </td>
                                </tr>
                                <tr>
                                    <td>TSECL - TRIPURA </td>
                                    <td>2.05 RS </td>
                                  </tr>
                                  <tr>
                                      <td>Reliance Landline </td>
                                      <td>2.05 RS </td>
                                    </tr>
                                    <tr>
                                        <td>Torrent Power </td>
                                        <td>2.05 RS </td>
                                      </tr>
                      </table>  
                    </form>
                  </div>
                  </div>
  </mat-expansion-panel>

     <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Gas Bill
      </mat-panel-title>
      
    </mat-expansion-panel-header>
        <div class="content p-24">
                
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        
                    <!-- ACCOUNT INFORMATION -->
                
    <form fxFlex="70%"  class="mat-card mat-elevation-z4 p-24 mr-24"  fxLayout="column" fxLayoutAlign="start"
                          name="form">
                <table>
            
                       
                       <tr>
                          <th > Operater Name </th>
                          <th > Retailer Comission % </th>
                       </tr>
                       <tr>
                          <td>Mahanagar Gas</td>
                          <td>2.05 RS </td>
                       </tr>
                          <tr>
                              <td>Indraprastha Gas </td>
                              <td>2.05 RS </td>
                          </tr>
                         <tr>
                            <td>Gujarat Gas </td>
                            <td>2.05 RS</td>
                         </tr>
                          <tr>
                              <td>Adani Gas </td>
                              <td>2.05 RS</td>
                          </tr>
                      </table> 
                    </form>
                  </div>
                  </div> 
  
  </mat-expansion-panel>

     <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Water Bill
      </mat-panel-title>
      
    </mat-expansion-panel-header>
          <div class="content p-24">
                
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        
                    <!-- ACCOUNT INFORMATION -->
                
    <form fxFlex="70%"  class="mat-card mat-elevation-z4 p-24 mr-24"  fxLayout="column" fxLayoutAlign="start"
                          name="form">
    
                <table>
            
                       <tr>
                          <th > Operater Name </th>
                          <th > Retailer Comission % </th>
                       </tr>
                       <tr>
                          <td>Uttarakhand Jal Sansthan</td>
                          <td>2.05 RS </td>
                       </tr>
                         <tr>
                            <td>Urban Improvement Trust (UIT) - BHIWADI </td>
                            <td>2.05 RS </td>
                         </tr>
                         <tr>
                            <td>Municipal Corporation of Gurugram </td>
                            <td>2.05 RS</td>
                         </tr>
                         <tr>
                            <td>Delhi Jal Board </td>
                            <td>2.05 RS</td>
                         </tr>
                      </table>  
                    </form>
                    </div>
                    </div> 
  
  </mat-expansion-panel>

</mat-accordion>

</div>
</div>