<div class="main-dash-content">
    <div class="custom-flex">
        <div *ngFor='let item of MainArr' class="card bg-dark text-white custom-card" style="width:300px">
                <!-- <img class="card-img-top" src="https://robohash.org/{{item.name}}?set=set1&size=180x200" alt="Card image" style="width:100%"> -->
                <img class="card-img-top" src="assets/images/img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">{{item.email}}</p>
                <div class="custom-btn">
                    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    <button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>