 <!DOCTYPE html>
<html lang="en-US">
<script src="angular.min.js"></script>
<body ng-app ng-model="a">
    {{a=4+8}}<br>
4+8={{a}}
    <br>
<hr>

<input type="text" ng-model="data" >
<p>{{data}}</p>
<p ng-bind="data"></p>
<hr>
<input type="radio" ng-model="rbtn" value="Male">Male 
<input type="radio" ng-model="rbtn" value="Female">Female 
<p>{{rbtn}}</p>

<hr>
<input type="checkbox" ng-model="chk" value="Yes">Is Nri 
<p>{{chk}}</p>

<hr>
<select ng-model="cts">
    <option >Indore</option>
    <option value="bpl">Bhopal</option>
</select>
<p>{{cts}}</p>
</body>
</html>