
  <!-- <mat-grid-list  > -->
        <div id="forms" class="page-layout simple fullwidth" fxLayout="column">

                <!-- CONTENT -->
                <div class="content p-24">

                    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

                        <!-- ACCOUNT INFORMATION -->

        <form fxFlex="65%"  class="mat-card mat-elevation-z4 p-24 mr-24"  fxLayout="column" fxLayoutAlign="start"
                              name="form">

                            <div class="h2 mb-24">ACCOUNT INFORMATION</div>


                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <table>
                                    <tr>
                                      <th>Fbasket Id</th>
                                      <td>6492954840</td>
                                    </tr>
                                   <tr>
                                        <th>Company Name</th>
                                        <td>DS JAISWAL</td>
                                    </tr>
                                    <tr>
                                        <th>Registered Email</th>
                                        <td>dsjaiswal2004@gmail.com  </td>
                                    </tr>
                                    <tr>
                                        <th>Registered MSISDN</th>
                                        <td>8826323418 </td>
                                    </tr>

                                  </table>



                                </div>





                        </form>

                        <!-- / ACCOUNT INFORMATION -->

                        <!-- Coloumn 2 Row 1 aand 3-->
                        <form fxFlex="35%"  class="mat-card mat-elevation-z4 p-24 mr-24"  fxLayout="column" fxLayoutAlign="start"
                              name="form">
                    <table>
                            <tr >
                                <td rowspan="2" style="width: 50%;"> <img style="width: 65%;margin-left:13%;" src="assets/images/flaticon/wallet.png"> </td>
                                <td>Current Balance :</td>
                                <td> 72.04</td>
                            </tr>
                            <tr>
                                    <td>Credit Limit :</td>
                                    <td>  0.00</td>
                            </tr>

                        </table>

                        <table style="margin-top:5px;">
                                <tr>
                                    <td colspan="2">Master Distributor Information</td>
                                </tr>
                                <tr>
                                        <td>Distributor/Agent Referral id</td>
                                        <td>12060546</td>
                                </tr>

                            </table>






                        </form>
                        <!-- / Coloumn 2 Row 1 aand 3-->
                    </div>


                </div>

                <!-- / CONTENT -->


            </div>
            <!-- </mat-grid-list> -->
