table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .services{
      width:30%;
      float:left;
      margin:10px;
  }

  .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  
  padding: 10px;
}