


                   <div class="container dis-container">
                        <div class="mat-elevation-z8 data-table">


                              <h1 class="heading"> Payment Transfer To Retailer</h1>
                              <div class="example-container">
                                  <mat-form-field>
                                        <input matInput placeholder="Search here" style="width:35%;">
                                        <mat-icon  style="float:right;">search</mat-icon>
                                      </mat-form-field></div>

<div class="container">
                                            <mat-form-field style="margin: 5px 20px" color="accent">
                                              <mat-label>From Date</mat-label>
                                              <input matInput [matDatepicker]="picker1">
                                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                              <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>

                                            <mat-form-field style="margin: 5px 20px;" color="accent">
                                              <mat-label>To Date</mat-label>
                                              <input matInput [matDatepicker]="picker2">
                                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                              <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                            </mat-form-field>
                                               <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

  <button style="margin: 0 15px;"  mat-raised-button color="primary">Submit</button>
                    </div>
                       

                                            </div>

                                <table mat-table [dataSource]="dataSource">

                                  <!-- Position Column -->
                                  <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef>Distributer ID </th>
                                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                  </ng-container>

                                  <!-- Name Column -->
                                  <ng-container matColumnDef="companyname">
                                    <th mat-header-cell *matHeaderCellDef>Distributer Company Name</th>
                                    <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
                                  </ng-container>

                                  <!-- Weight Column -->
                                  <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Distributor name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                  </ng-container>

                                  <!-- Symbol Column -->
                                  <ng-container matColumnDef="method">
                                        <th mat-header-cell *matHeaderCellDef>Method </th>
                                        <td mat-cell *matCellDef="let element"> {{element.method}} </td>
                                      </ng-container>

                                       <!-- Symbol Column -->
                                  <ng-container matColumnDef="depositid">
                                        <th mat-header-cell *matHeaderCellDef>Deposit Trans id </th>
                                        <td mat-cell *matCellDef="let element"> {{element.depositid}} </td>
                                      </ng-container>

                                      <!-- Symbol Column -->
                                  <ng-container matColumnDef="order">
                                        <th mat-header-cell *matHeaderCellDef>Order amt </th>
                                        <td mat-cell *matCellDef="let element"> {{element.order}} </td>
                                      </ng-container>

                                      <!-- Symbol Column -->
                                  <ng-container matColumnDef="opbalance">
                                        <th mat-header-cell *matHeaderCellDef>Your open.bal</th>
                                        <td mat-cell *matCellDef="let element"> {{element.opbalance}} </td>
                                      </ng-container>

                                      <!-- Symbol Column -->
                                  <ng-container matColumnDef="disopbalance">
                                        <th mat-header-cell *matHeaderCellDef>Distributor op.bal</th>
                                        <td mat-cell *matCellDef="let element"> {{element.disopbalance}} </td>
                                      </ng-container>

                                      <!-- Symbol Column -->
                                  <ng-container matColumnDef="remark">
                                        <th mat-header-cell *matHeaderCellDef>Remark</th>
                                        <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                                      </ng-container>

                                      <!-- Symbol Column -->
                                  <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef>Trans Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                      </ng-container>

                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                              </div>

                            </div>
