table {
  width: 100% !important;
}

.data-table{
    width: 95%;
    margin: 20px auto;

}
.dis-container{
    width:100%;
}

.example-container {
    float:right;
    width: 40%;
    margin: 12px;
  }

  .example-container > * {
    width: 40%;
  float:right;
    margin: 5px;
  }
.heading{
  width: 50%;
  float: left;
  margin:3%;
}

.container {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  display:table-row;
  grid-template-columns: 80% auto;

}

.tool-container {
  width: 80%;
  margin: 100px 50px !important;
  padding: 20px;
  display:table-row;
  grid-template-columns: 80% auto;

}
.container-small{
  width: 20%;
  padding: 5px 20px;
  float: left;
 box-sizing: border-box;
 margin: 20px 20px;
  
}

